# History files
.Rhistory
.Rapp.history
# User-specific files
.Ruserdata
# RStudio files
.Rproj.user/
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# R Environment Variables
.Renviron
# Git files
.Rbuildignore
.gitattributes
.git
README.html
dev/